*.csv
.vscode/
!.vscode/tasks.json
!.vscode/launch.json
*.code-workspace

__pycache__

!data/flight-data-jan-oct.csv
!data/flight-data-jan-dec.csv
!data/flight-data-jan-oct-international.csv
!data/flight-data-jan-dec-international.csv
!data/covid-data-jan-oct.csv
!data/covid-data-jan-dec.csv
!data/airport-counties.csv
!data/date-county-flight-count.csv
!data/date-flight-count.csv

venv/