*.csv
.vscode/
!.vscode/tasks.json
!.vscode/launch.json
*.code-workspace

__pycache__

!data/flight-data-filtered.csv
!data/flight-data-filtered-international.csv
!data/covid-data.csv
!data/airport-counties.csv

venv/